In [1]:
#!pip install pandas

In [1]:
import pandas as pd #importando la librería pandas renombrandola como pd

Dato: data set es el excel ----- data frame es el excel procesado acá para manejarlo como quiera

In [ ]:
# ejemplo importar dataset y crear un dataframe
# df_vacunacion = pd.read_csv("covid.csv") # nombre_df = pd.read_csv("ruta del archivo csv")

In [26]:
#creo el dataframe          
df_teamPSG = pd.DataFrame({"Jugador": ["Lucas Castronuovo", "Alan Varela", "Kylian Mbappé" ], "Altura": [167, 175, 178 ],"Puntaje": [90, 82, 95] })
df_teamPSG #imprimo el dataframe

#registro = fila
#Para trabajar con filas y columnas usar corchetes
#Para trabajar con funciones es con paréntesis

             Jugador  Altura  Puntaje
0  Lucas Castronuovo     167       90
1        Alan Varela     175       82
2      Kylian Mbappé     178       95

In [11]:
#tipos de datos del dataframe
df_teamPSG.dtypes #object = string

Jugador    object
Altura      int64
Puntaje     int64
dtype: object

In [12]:
type(df_teamPSG) #obtener el tipo de dato

pandas.core.frame.DataFrame

### MANIPULANDO DATOS

In [15]:
df_teamPSG["Puntaje"] #datos de la columna Puntaje -- Me devuelve un pandas series -- Filtrar por columnas

0    90
1    82
2    95
Name: Puntaje, dtype: int64

#### ILOC Y LOC

In [18]:
#iloc -> df.iloc[indice de fila , indice de columna] Filta el valor deseado por indice de fila e indice de columna
df_teamPSG.iloc[0,0]

'Lucas Castronuovo'

In [19]:
df_teamPSG.iloc[:,0] #Trae los nombres de los jugadores

0    Lucas Castronuovo
1          Alan Varela
2        Kylian Mbappé
Name: Jugador, dtype: object

In [20]:
df_teamPSG.iloc[0,:] #Trae los datos de Lucas

Jugador    Lucas Castronuovo
Altura                   167
Puntaje                   90
Name: 0, dtype: object

In [21]:
df_teamPSG.iloc[:2,0] #Trae los valores deseados hasta el número indicado despues del : SIN INCLUIR

0    Lucas Castronuovo
1          Alan Varela
Name: Jugador, dtype: object

In [23]:
# loc -> df.loc[indice de la fila , nombre de la columna]
df_teamPSG.loc[0, "Altura"] #Traigo la Altura de Lucas

167

In [26]:
df_teamPSG.loc[0] #Traigo todos los datos de Lucas

Jugador    Lucas Castronuovo
Altura                   167
Puntaje                   90
Name: 0, dtype: object

In [29]:
df_teamPSG.columns #Lista con los nombres de las columnas

Index(['Jugador', 'Altura', 'Puntaje'], dtype='object')

In [31]:
df_teamPSG.columns[0] #Lista que trae el nombre de la columna que corresponde al indice indicado

'Jugador'

In [32]:
df_teamPSG.index #Indica desde que número inicia los registros, hasta donde terminan y como se van pasando de uno al otro

RangeIndex(start=0, stop=3, step=1)

### OTRAS FORMAS DE FILTRAR

#### CAMBIAR LA ALTURA DE UN JUGADOR

In [33]:
posho = df_teamPSG["Jugador"] == "Lucas Castronuovo"
posho #Recorre el dataframe en los registros de la columna Jugador, indicando los casos en donde se cumple con la condición indicando true y en caso de que no se indica false

0     True
1    False
2    False
Name: Jugador, dtype: bool

In [35]:
df_teamPSG.loc[posho, "Altura"] #Trae la altura del registro que es true en la condición de posho

0    167
Name: Altura, dtype: int64

In [36]:
df_teamPSG.loc[posho, "Altura"] = 168 #Crecí un centímetro

In [39]:
df_teamPSG.loc[df_teamPSG["Jugador"] == "Alan Varela", "Altura"] = 177 #Hice lo mismo pero todo en una línea

In [38]:
df_teamPSG

             Jugador  Altura  Puntaje
0  Lucas Castronuovo     168       90
1        Alan Varela     177       82
2      Kylian Mbappé     178       95

In [40]:
df_teamPSG.shape #tamaño de las filas y las columnas

(3, 3)

In [43]:
df_teamPSG.head(2) #Visualizar los 2 primeros registros

             Jugador  Altura  Puntaje
0  Lucas Castronuovo     168       90
1        Alan Varela     177       82

In [45]:
df_teamPSG.tail(2) #Visualizar los 2 últimos registros

         Jugador  Altura  Puntaje
1    Alan Varela     177       82
2  Kylian Mbappé     178       95

In [46]:
#Eliminar columna

#df.drop(columns="cod_dosis_generica",inplace=True) # eliminar columna cod_dosis_generica
#df.drop(columns=["depto_aplicacion_id","vacuna"],inplace=True) # eliminar más de 1 columna

### ORDENAR REGISTROS USANDO SORT_VALUES

In [3]:
df_teamPSG.sort_values("Puntaje", ascending = False) 
cabezon = df_teamPSG.sort_values("Puntaje", ascending = False)

In [4]:
df_teamPSG

             Jugador  Altura  Puntaje
0  Lucas Castronuovo     167       90
1        Alan Varela     175       82
2      Kylian Mbappé     178       95

In [5]:
cabezon

             Jugador  Altura  Puntaje
2      Kylian Mbappé     178       95
0  Lucas Castronuovo     167       90
1        Alan Varela     175       82

### CREAR EN UN DATAFRAME EXISTENTE

In [27]:
df_teamPSG["Equipo"] = "PSG" #Crear una columna constante

In [28]:
df_teamPSG

             Jugador  Altura  Puntaje Equipo
0  Lucas Castronuovo     167       90    PSG
1        Alan Varela     175       82    PSG
2      Kylian Mbappé     178       95    PSG

In [29]:
df_teamPSG["Altura en metros"] = df_teamPSG["Altura"]/100

In [30]:
df_teamPSG

             Jugador  Altura  Puntaje Equipo  Altura en metros
0  Lucas Castronuovo     167       90    PSG              1.67
1        Alan Varela     175       82    PSG              1.75
2      Kylian Mbappé     178       95    PSG              1.78

In [14]:
df_teamPSG.dtypes

Jugador              object
Altura                int64
Puntaje               int64
Equipo               object
Altura en metros    float64
dtype: object

### HACER PANDAS QUERYS

In [15]:
df_teamPSG.query("Puntaje >= 90 and Equipo == 'PSG'")

             Jugador  Altura  Puntaje Equipo  Altura en metros
0  Lucas Castronuovo     167       90    PSG              1.67
2      Kylian Mbappé     178       95    PSG              1.78

In [17]:
df_teamPSG.groupby("Equipo").count()

        Jugador  Altura  Puntaje  Altura en metros
Equipo
PSG           3       3        3                 3

In [18]:
df_teamPSG.nunique()["Jugador"]

3

In [32]:

daluca = df_teamPSG["Jugador"].value_counts()
daluca

Lucas Castronuovo    1
Alan Varela          1
Kylian Mbappé        1
Name: Jugador, dtype: int64