# Estadistica

#  Dataset de Cálidad de Vino

# Importación de las librerías a utilizar

In [5]:
# Libreria de manejo de datos
import pandas as pd

# Librerias de visualizaciñon
import matplotlib.pyplot as plt
import seaborn as sns

#Librería Númerico
import numpy as np


%matplotlib inline

# Carga y union de datasets
#### Los datos de los vinos provienen de dos archivos distintos (del tipo csv) que serán unidos en un dataframe "wines"

In [8]:
# Shift + Tab para ver el Docstring de los métodos

In [6]:
white_wine = pd.read_csv('winequality-white.csv', sep=';')

In [10]:
# Ver las dimensiones del dataset
white_wine.shape

(4898, 12)

In [11]:
#Ver los primeros registros
white_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [37]:
white_wine = pd.read_csv('winequality-white.csv', sep=';')
red_wine = pd.read_csv('winequality-red.csv', sep=';')

# store wine type as an attribute
red_wine['wine_type'] = 'red'   
white_wine['wine_type'] = 'white'

# bucket wine quality scores into qualitative quality labels
red_wine['quality_label'] = red_wine['quality'].apply(lambda value: 'low' 
                                                          if value <= 5 else 'medium' 
                                                              if value <= 7 else 'high')
red_wine['quality_label'] = pd.Categorical(red_wine['quality_label'], 
                                           categories=['low', 'medium', 'high'])
white_wine['quality_label'] = white_wine['quality'].apply(lambda value: 'low' 
                                                              if value <= 5 else 'medium' 
                                                                  if value <= 7 else 'high')
white_wine['quality_label'] = pd.Categorical(white_wine['quality_label'], 
                                             categories=['low', 'medium', 'high'])

# merge red and white wine datasets
wines = pd.concat([red_wine, white_wine])

# re-shuffle records just to randomize data points
wines = wines.sample(frac=1, random_state=42).reset_index(drop=True)

In [14]:
# Agregar una columna nueva con una constante de 5
#wines['miColumna'] = 5

# Usando el método head(), podemos ver los primeros registros del dataframe

In [18]:
wines.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine_type,quality_label
0,7.0,0.17,0.74,12.8,0.045,24.0,126.0,0.99420,3.26,0.38,12.2,8,white,high
1,7.7,0.64,0.21,2.2,0.077,32.0,133.0,0.99560,3.27,0.45,9.9,5,red,low
2,6.8,0.39,0.34,7.4,0.020,38.0,133.0,0.99212,3.18,0.44,12.0,7,white,medium
3,6.3,0.28,0.47,11.2,0.040,61.0,183.0,0.99592,3.12,0.51,9.5,6,white,medium
4,7.4,0.35,0.20,13.9,0.054,63.0,229.0,0.99888,3.11,0.50,8.9,6,white,medium

### Entendimiento del Negocio/Problema

El vino es una bebida alcohólica hecha a partir de uvas que se fermenta sin la adición de azúcares, ácidos, enzimas, agua, u otros nutrientes.

El vino tinto se elabora con uvas rojas y negras oscuras. El color varía normalmente de varios tonos de rojo, azul y violeta. Esto se produce con uvas enteras incluyendo la piel, que se suma al color y sabor de vino tinto.


El vino blanco se elabora con uvas blancas sin piel o semillas. El color es generalmente de color amarillo pajizo, amarillo-verde o amarillo-oro. La mayoría de los vinos blancos tienen un sabor ligero y afrutado, en comparación con los vinos tintos

### Entendimiento de las propiedades de los vinos (nuestras variables) 


- **fixed acidity (Ácidos Fijos):** Los ácidos son una de las propiedades fundamentales de vino y contribuyen en gran medida al sabor del vino. Significativamente reducir el ácido podría conducir a un sabor plano. Los ácidos fijos incluyen tartárico, málico, cítrico y ácido succínico, que se encuentra en las uvas (excepto succínico). Esta variable se expresa generalmente en $\frac{g(tartaricacid)}{dm^3}$ en el dataset.


- **volatile acidity (Ácido Volatil):** Estos ácidos se generan al separarse por destilación del vino antes de completar el proceso de producción. Está constituido principalmente de ácido acético aunque otros ácidos como láctico, ácido butírico y fórmico también pueden estar presentes. El exceso de ácidos volátiles son indeseables y dan lugar a un sabor desagradable. En los EE.UU., los límites legales de acidez volátil son 1,2 g / 50 para el vino tinto de mesa y 1,1 g / 50 para el vino blanco de mesa. La acidez volátil es expresada en $\frac{g(aceticacid)}{dm^3}$ en el dataset.


- **citric acid (Ácido Cítrico):** Este es uno de los ácidos fijos que da al vino su frescura. Por lo general, la mayor parte se consume durante el proceso de fermentación y, a veces se añade por separado para dar el vino más frescura. Por lo general se expresa en $\frac{g}{dm^3}$ en el dataset.


- **residual sugar (Azucar Residual):** Esto se refiere típicamente al azúcar natural de la uva que permanece luego de que el proceso de fermentación se detiene, o se detuvo. Por lo general se expresa en $\frac{g}{dm^3}$ en el dataset.


- **chlorides (Cloruros):** Esto suele ser un importante contribuyente a la salinidad en el vino. Por lo general se expresa en $\frac{g(sodiumchloride)}{dm^3}$ en el dataset.


- **free sulfur dioxide (Dióxido de Azufre libre):** Esta es la parte del dióxido de azufre que cuando se añade a un vino se dice que es libre después de la ligante parte restante. Los Enólogos siempre tratarán de conseguir la más alta proporción de azufre libre de unirse. También son conocidos como los sulfitos y demasiado de él no es deseable y da un olor a acre. Esta variable se expresa en $\frac{mg}{dm^3}$ en el dataset.


- **total sulfur dioxide (Total de Dióxido de Azufre):** Esta es la suma total de el dióxido de azufre libre ($SO_2$).Está expresado en $\frac{mg}{dm^3}$. Esto se añade principalmente para matar las bacterias dañinas y preservar su calidad y frescura. Por lo general hay límites legales de los niveles de azufre en el vino y el exceso de la misma, incluso pueden matar a una buena levadura y dar un olor indeseable.


- **density (Densidad):** Esto se puede representar como una comparación del peso de un volumen específico de vino a un volumen equivalente de agua. Se utiliza generalmente como una medida de la conversión de azúcar en alcohol. Se expresa en $\frac{g}{cm^3}$.


- **pH:** También conocido como el potencial de hidrógeno, esto es una escala numérica para especificar la acidez o basicidad del vino. La acidez fija contribuye en mayor medida hacia el pH de los vinos. Soluciones con un pH inferior a 7 son ácidas, mientras que las soluciones con un pH mayor que 7 son básicas. Con un pH de 7, el agua pura es neutra. La mayoría de los vinos tienen un pH entre 2,9 y 3,9 y por lo tanto son demasiado ácidos.


- **sulphates (Sulfatos):** Estos son sales minerales que contiene azufre. Sulfatos son al vino como el pegamento es a la alimentación. Ellos son una parte regular de la elaboración del vino en todo el mundo y se consideran esenciales. Están conectados al proceso de fermentación y afecta el aroma y el sabor del vino. Se expresan en $\frac{g(potassiumsulphate)}{dm^3}$ en el dataset.


- **alcohol:** El vino es una bebida alcohólica. El alcohol se forma como resultado de la conversión de la levadura en azúcar durante el proceso de fermentación. El porcentaje de alcohol puede variar de un vino a otro. Por lo tanto no es una sorpresa para este atributo a ser parte de este conjunto de datos. Por lo general se mide en% vol o alcohol por volumen.


- **quality (Calidad):** Expertos en vino calificaron la calidad del vino entre 0 (muy malo) y 10 (muy excelentes). La puntuación de la calidad final es la media de al menos tres evaluaciones realizadas por los mismos expertos en vino.


- **wine_type (Tipo de Vino):** Ya que originalmente se tenían dos conjuntos de datos para el vino tinto y blanco, se introdujo este atributo en el conjunto de datos resultante de la fusión final que indica el tipo de vino para cada punto de datos. Un vino puede ser 'tinto' o un vino 'blanco'. 


- **quality_label (Tipo de Calidad):** Este es un atributo derivado del atributo `Calidad`. Las puntuaciones de calidad del vino se agrupan en tres grupos cualitativamente, baja, media y alta calidad. Los vinos de calidad con una puntuación de 1, 2 ,3, 4 y 5 son de baja calidad, las puntuaciones de 6 y 7 son de calidad media decenas de 8, 9 y 10 son vinos de alta calidad. .

# Media

In [26]:
wines['citric acid'].mean()

0.3186332153301468

In [25]:
round(wines['citric acid'].mean(),2)

0.32

In [28]:
wines.alcohol.mean()

10.491800831152835

In [76]:
wines.mean()

fixed acidity             7.215307
volatile acidity          0.339666
citric acid               0.318633
residual sugar            5.443235
chlorides                 0.056034
free sulfur dioxide      30.525319
total sulfur dioxide    115.744574
density                   0.994697
pH                        3.218501
sulphates                 0.531268
alcohol                  10.491801
quality                   5.818378
dtype: float64

# Variables Categoricas

### Moda

In [40]:
wines['miColumna'] = 'hola'
wines.loc[0:2000, 'miColumna'] = 'chau'

In [44]:
wines.miColumna.mode()

0    hola
dtype: object

In [45]:
wines.miColumna.value_counts()

hola    4496
chau    2001
Name: miColumna, dtype: int64

In [57]:
wines.quality_label.value_counts()

medium    3915
low       2384
high       198
Name: quality_label, dtype: int64

In [58]:
#valores del value counts
wines.quality_label.value_counts()

medium    3915
low       2384
high       198
Name: quality_label, dtype: int64

In [51]:
#indices del value counts
wines.quality_label.value_counts().index

CategoricalIndex(['medium', 'low', 'high'], categories=['low', 'medium', 'high'], ordered=False, dtype='category')

In [65]:
wines.alcohol.mean()

10.491800831152835

In [72]:
lista_al = list(wines.alcohol)
lista_al.mean()

AttributeError: 'list' object has no attribute 'mean'

In [73]:
suma = 0
for x in lista_al:
    suma = suma + x
    
suma / len(lista_al)

10.491800831152835

# Tipos de Datos

In [63]:
type(wines)

pandas.core.frame.DataFrame

In [59]:
#valores del value counts
type(wines.quality_label.value_counts())

pandas.core.series.Series

# Mediana

In [39]:
wines.median()

fixed acidity             7.00000
volatile acidity          0.29000
citric acid               0.31000
residual sugar            3.00000
chlorides                 0.04700
free sulfur dioxide      29.00000
total sulfur dioxide    118.00000
density                   0.99489
pH                        3.21000
sulphates                 0.51000
alcohol                  10.30000
quality                   6.00000
dtype: float64

In [29]:
wines['citric acid'].median()

0.31

In [30]:
wines.alcohol.median()

10.3

# Desvío Estandar

In [74]:
wines.alcohol.std()

1.1927117488710004

In [79]:
wines.std()

fixed acidity            1.296434
volatile acidity         0.164636
citric acid              0.145318
residual sugar           4.757804
chlorides                0.035034
free sulfur dioxide     17.749400
total sulfur dioxide    56.521855
density                  0.002999
pH                       0.160787
sulphates                0.148806
alcohol                  1.192712
quality                  0.873255
dtype: float64

# describe

In [82]:
wines.describe().round(4)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6497.0000,6497.0000,6497.0000,6497.0000,6497.000,6497.0000,6497.0000,6497.0000,6497.0000,6497.0000,6497.0000,6497.0000
mean,7.2153,0.3397,0.3186,5.4432,0.056,30.5253,115.7446,0.9947,3.2185,0.5313,10.4918,5.8184
std,1.2964,0.1646,0.1453,4.7578,0.035,17.7494,56.5219,0.0030,0.1608,0.1488,1.1927,0.8733
min,3.8000,0.0800,0.0000,0.6000,0.009,1.0000,6.0000,0.9871,2.7200,0.2200,8.0000,3.0000
25%,6.4000,0.2300,0.2500,1.8000,0.038,17.0000,77.0000,0.9923,3.1100,0.4300,9.5000,5.0000
50%,7.0000,0.2900,0.3100,3.0000,0.047,29.0000,118.0000,0.9949,3.2100,0.5100,10.3000,6.0000
75%,7.7000,0.4000,0.3900,8.1000,0.065,41.0000,156.0000,0.9970,3.3200,0.6000,11.3000,6.0000
max,15.9000,1.5800,1.6600,65.8000,0.611,289.0000,440.0000,1.0390,4.0100,2.0000,14.9000,9.0000

# Valores Agrupados

In [84]:
wines.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine_type,quality_label,miColumna
0,7.0,0.17,0.74,12.8,0.045,24.0,126.0,0.99420,3.26,0.38,12.2,8,white,high,chau
1,7.7,0.64,0.21,2.2,0.077,32.0,133.0,0.99560,3.27,0.45,9.9,5,red,low,chau
2,6.8,0.39,0.34,7.4,0.020,38.0,133.0,0.99212,3.18,0.44,12.0,7,white,medium,chau
3,6.3,0.28,0.47,11.2,0.040,61.0,183.0,0.99592,3.12,0.51,9.5,6,white,medium,chau
4,7.4,0.35,0.20,13.9,0.054,63.0,229.0,0.99888,3.11,0.50,8.9,6,white,medium,chau

In [85]:
wines.quality_label.value_counts()

medium    3915
low       2384
high       198
Name: quality_label, dtype: int64

In [98]:
wines.groupby('quality_label').mean().round(4)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
quality_label,,,,,,,,,,,,
low,7.3300,0.3974,0.3042,5.6462,0.0644,29.4805,119.2771,0.9958,3.2145,0.5243,9.8735,4.8842
medium,7.1639,0.3070,0.3267,5.3243,0.0517,30.9603,113.5057,0.9942,3.2206,0.5365,10.8076,6.2756
high,6.8500,0.2912,0.3339,5.3510,0.0408,34.5051,117.4798,0.9925,3.2254,0.5113,11.6914,8.0253

In [93]:
df = wines.groupby('quality_label').mean()[['quality','free sulfur dioxide']].reset_index()

In [102]:
df.iloc[0:1]

  quality_label   quality  free sulfur dioxide
0           low  4.884228            29.480495

In [96]:
df[['quality','free sulfur dioxide']].corr()

                      quality  free sulfur dioxide
quality              1.000000             0.986053
free sulfur dioxide  0.986053             1.000000

# Correlación

In [89]:
wines.corr().round(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
fixed acidity,1.00,0.22,0.32,-0.11,0.30,-0.28,-0.33,0.46,-0.25,0.30,-0.10,-0.08
volatile acidity,0.22,1.00,-0.38,-0.20,0.38,-0.35,-0.41,0.27,0.26,0.23,-0.04,-0.27
citric acid,0.32,-0.38,1.00,0.14,0.04,0.13,0.20,0.10,-0.33,0.06,-0.01,0.09
residual sugar,-0.11,-0.20,0.14,1.00,-0.13,0.40,0.50,0.55,-0.27,-0.19,-0.36,-0.04
chlorides,0.30,0.38,0.04,-0.13,1.00,-0.20,-0.28,0.36,0.04,0.40,-0.26,-0.20
free sulfur dioxide,-0.28,-0.35,0.13,0.40,-0.20,1.00,0.72,0.03,-0.15,-0.19,-0.18,0.06
total sulfur dioxide,-0.33,-0.41,0.20,0.50,-0.28,0.72,1.00,0.03,-0.24,-0.28,-0.27,-0.04
density,0.46,0.27,0.10,0.55,0.36,0.03,0.03,1.00,0.01,0.26,-0.69,-0.31
pH,-0.25,0.26,-0.33,-0.27,0.04,-0.15,-0.24,0.01,1.00,0.19,0.12,0.02
sulphates,0.30,0.23,0.06,-0.19,0.40,-0.19,-0.28,0.26,0.19,1.00,-0.00,0.04
alcohol,-0.10,-0.04,-0.01,-0.36,-0.26,-0.18,-0.27,-0.69,0.12,-0.00,1.00,0.44
quality,-0.08,-0.27,0.09,-0.04,-0.20,0.06,-0.04,-0.31,0.02,0.04,0.44,1.00